.brand {
  background: #cdddc9;
  display: flex;
  align-items: center;
  padding: 0 1.8em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  cursor: pointer;
  .brand-icon {
    margin-right: 2rem;
  }
  &:hover {
    background: #adc2a8;
  }
}
mat-nav-list {
  margin-top: 2em;
}
.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0.4em !important;
}
